<!DOCTYPE html>
<html lang='en'>
<%- include('../partials/header') %>
    <body>
    <%- include('../partials/navbar') %>
    <h1>Skills List</h1>
        <ul>
          <% skills.forEach((s) => { %>
            <li>
                <a href='/skills/<%= s.skill %>'><%= s.skill %></a>
            </li>
            <% }) %>
          </ul> 
          <a href="/skills/new">Add New Skill</a>
    </body>
</html>