body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
}

a {
  color: #50caf7;
}

nav li {
  list-style: none;
  display: inline;
}

h1, h2, h3 {
  text-align: center;
}
